@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: var(--font-favorit);
  font-size: 5rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
